.body{
    font-family: Arial;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.data{

    border: 1px solid black;
    padding: 2rem;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;

}

.input{

    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    padding: 3px;
}

.btn-container{

    display: flex;
    justify-content: flex-end;

}

button{

    background-color: rgb(3, 90, 61);
    color: white;
    border:none;
    width: 6rem;
    padding: .5rem;
    border-radius: 5px;

}